<ng-container *ngIf="isLoad">
<img src="../assets/Capture.png" width="100%" style="position: fixed;z-index: 1">
<div style="height: 1px"></div>
<div style="position: fixed; margin-left:70%; margin-top: 10px;z-index: 1">
<button type="button" class="btn btn-success" style="margin-left: 50px" (click)="saveButton()"  >Save</button>
<button type="button" class="btn btn-success" style="margin-left: 50px" routerLink="">Cancel</button>
<button type="button" class="btn btn-success" style="margin-left: 50px" (click)="saveButton()" routerLink="" >Save & Close</button>
</div>
<div style="margin: 200px 200px; background-color:rgba(255, 255, 255, 1);padding: 20px;  width: 70%;  color: rgba(117, 117, 117, 0.866666666666667);position: absolute">

  <form [formGroup]="myForm">
    <h2>SAMPLE</h2>
    <mat-form-field>
      <mat-label>Project Code</mat-label>
      <input matInput formControlName="code">
    </mat-form-field>
    <br>

    <mat-form-field>
      <mat-label>Project Title</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>

    <br><br>


    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>


    <br><br>


    <mat-form-field style="width: 250px; height: 25px" name="select">
      <mat-label> Implementation Status:</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let i of impStatus" [value]="i.id">
          {{i.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field style="margin-left: 50px">
      <mat-label>Start date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="startDate" [(ngModel)]="start">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>


    <mat-form-field style="margin-left: 50px">
      <mat-label>End date</mat-label>
      <input matInput [matDatepicker]="picker1" formControlName="endDate" [(ngModel)]="end">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>


    <mat-form-field style="margin-left: 50px">
      <mat-label>Duration</mat-label>
      <input matInput formControlName="duration" [value]="duration" [(ngModel)]="duration">
    </mat-form-field>
  </form >
  <form [formGroup]="sectForm" (ngSubmit)="sectorsAdd()">
    <br><br><br><br>
    <div>
      <h2>Sector</h2>

      <table border="1px">
        <tr *ngFor="let i of arr">
          <td style="width: 400px; height: 50px">{{getSectorName(i.sector)}}</td>
          <td style="width: 300px; height: 50px">{{i.percent}}</td>
        </tr>
      </table>
<!--            <table mat-table [dataSource]="arr" class="mat-elevation-z8">-->
<!--              <ng-container matColumnDef="a">-->
<!--                <td mat-cell *matCellDef="let element"> {{element.sector}} </td>-->
<!--              </ng-container>-->
<!--              <ng-container matColumnDef="b">-->

<!--                <td mat-cell *matCellDef="let element">{{element.percent}}-->
<!--                </td>-->
<!--              </ng-container>-->
<!--              <ng-container matColumnDef="c">-->

<!--                <td mat-cell *matCellDef="let element">{{element.percent}}-->
<!--                </td>-->
<!--              </ng-container>-->

<!--            </table>-->

      <mat-form-field style="width: 250px; height: 25px" name="select">
        <mat-label> SECTOR</mat-label>
        <mat-select formControlName="sector">
          <mat-option *ngFor="let y of sectors" [value]="y.id">
            {{y.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field style="margin-left: 50px;margin-top: 50px">
        <input matInput formControlName="percent" >
      </mat-form-field>
      <button class="btn btn-success" style="margin-left: 50px" type="submit" >ADD</button>

    </div>
  </form>
    <br><br>
    <div style="height:250px">
      <h2>Project Location</h2>
            <table border="1px">
              <tr *ngFor="let a of locations">
                <td style="width: 400px; height: 50px">{{a.country}}</td>
                <td style="width: 300px; height: 50px">{{a.district}}</td>
                <td style="width: 300px; height: 50px">{{a.percent}}</td>
              </tr>
            </table>
    </div>
      <button type="button" class="btn btn-success" style="margin-left: 50px" (click)="openDialog()">ADD</button>



</div>
</ng-container>
