<ng-container *ngIf="!isLoad"  >
  <mat-spinner></mat-spinner>
</ng-container>
<ng-container *ngIf="isLoad">
<img src="../assets/Capture.png" width="100%" style="position: fixed;z-index: 1">
<div style="height: 1px"></div>
<div style="position: fixed; margin-left:70%; margin-top: 10px;z-index: 1">
<button type="button" class="btn btn-success" style="margin-left: 50px" (click)="saveButton()" [disabled]="!myForm.valid">Save</button>
<button type="button" class="btn btn-success" style="margin-left: 50px" routerLink="" >Cancel</button>
<button type="button" class="btn btn-success" style="margin-left: 50px" (click)="saveButton()" routerLink="" [disabled]="!myForm.valid">Save & Close</button>
</div>
<div style="margin: 200px 200px; background-color:rgba(255, 255, 255, 1);padding: 20px;  width: 70%;  color: rgba(117, 117, 117, 0.866666666666667);position: absolute">

  <form [formGroup]="myForm">
    <h2>SAMPLE</h2>
    <mat-form-field>
      <mat-label>Project Code</mat-label>
      <input matInput formControlName="code">
    </mat-form-field>
    <br>

    <mat-form-field>
      <mat-label>Project Title</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>

    <br><br>


    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>


    <br><br>


    <mat-form-field style="width: 250px; height: 25px" name="select">
      <mat-label> Implementation Status:</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let i of impStatus" [value]="i.id">
          {{i.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field style="margin-left: 50px">
      <mat-label>Start date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="startDate" (dateChange)="getDuration()" >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>


    <mat-form-field style="margin-left: 50px">
      <mat-label>End date</mat-label>
      <input matInput [matDatepicker]="picker1" formControlName="endDate" (dateChange)="getDuration()" [value]="this.myForm.value.endDate">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>


    <mat-form-field style="margin-left: 50px">
      <mat-label>Duration</mat-label>
      <input matInput  [(ngModel)]="duration" [ngModelOptions]="{standalone: true}" (change)="getDuration()">
    </mat-form-field>
  </form >
  <form [formGroup]="sectForm" (ngSubmit)="sectorsAdd()">
    <br><br><br><br>
    <div>
      <h2>Sector</h2>

<!--      <table border="1px" matSort>-->
<!--        <th mat-sort-header>AAAAA</th>-->
<!--        <tr *ngFor="let i of arr">-->

<!--          <td style="width: 400px; height: 50px" >{{getSectorName(i.sector)}}</td>-->
<!--          <td style="width: 300px; height: 50px" >{{i.percent}}</td>-->
<!--        </tr>-->
<!--      </table>-->
            <table mat-table [dataSource]="arr" class="mat-elevation-z8" matSort *ngIf="this.arr.length">

              <ng-container matColumnDef="a">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header> Sector Name </th>
                <td mat-cell *matCellDef="let element" >{{getSectorName(element.sector)}}</td>
              </ng-container>
              <ng-container matColumnDef="b">
                <th mat-header-cell *matHeaderCellDef > % </th>
                <td mat-cell *matCellDef="let element">{{element.percent}}</td>
              </ng-container>
              <ng-container matColumnDef="c">
                <th mat-header-cell *matHeaderCellDef >  </th>
                <td mat-cell *matCellDef="let element"><mat-icon aria-hidden="false" style="padding-left: 80%" (click)="deleteDialog(element.sector)">X</mat-icon></td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

      <mat-form-field style="width: 250px; height: 25px" name="select">
        <mat-label> SECTOR</mat-label>
        <mat-select formControlName="sector" >
          <mat-option *ngFor="let y of sectors" [value]="y.id">
            {{y.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field style="margin-left: 50px;margin-top: 50px">
        <input matInput formControlName="percent" >
      </mat-form-field>
      <button class="btn btn-success" style="margin-left: 50px" type="submit" >ADD</button>

    </div>
  </form>
    <br><br>
    <div >
      <h2>Project Location</h2>
<!--            <table border="1px">-->
<!--              <tr *ngFor="let a of locations">-->
<!--                <td style="width: 400px; height: 50px">{{a.country}}</td>-->
<!--                <td style="width: 300px; height: 50px">{{a.district}}</td>-->
<!--                <td style="width: 300px; height: 50px">{{a.percent}}</td>-->
<!--              </tr>-->
<!--            </table>-->
      <table mat-table [dataSource]="locations" class="mat-elevation-z8" matSort *ngIf="this.locations.length">
        <ng-container matColumnDef="a">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header> Country </th>
          <td mat-cell *matCellDef="let element" >{{element.country}}
          </td>
        </ng-container>
        <ng-container matColumnDef="b">
          <th mat-header-cell *matHeaderCellDef > District </th>
          <td mat-cell *matCellDef="let element">{{element.district}}
          </td>
        </ng-container>
        <ng-container matColumnDef="c">
          <th mat-header-cell *matHeaderCellDef > % </th>
          <td mat-cell *matCellDef="let element">{{element.percent}}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"> </tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
      <button type="button" class="btn btn-success" style="margin: 20px" (click)="openDialog()">ADD</button>



</div>
</ng-container>
