<div style=" background-color:rgba(255, 255, 255, 1);padding: 20px; height: 500px; width: 350px; font-family: Roboto; color: rgba(117, 117, 117, 0.866666666666667)">

  <form [formGroup]="formLocation" (ngSubmit)="locationAdd()" >
    <h1 mat-dialog-title style="position: absolute">Add Project Location</h1>

    <button mat-icon-button mat-dialog-close="true" style="margin-left: 300px">
      <mat-icon>X</mat-icon>
    </button>

  <mat-form-field style="width: 250px; height: 25px" >
    <mat-label>  Country* </mat-label>
    <mat-select formControlName="locationCountry" >
      <mat-option *ngFor="let i of locationCountry" [value]="i.id" >
        {{i.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <br>
  <br>
  <mat-form-field style="width: 250px; height: 25px" >
    <mat-label>  District* </mat-label>
    <mat-select formControlName="locationDistrict">
      <mat-option *ngFor="let i of locationDistrict" [value]="i.id">
        {{i.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <br>
  <br>
  <mat-form-field style="margin-left: 50px">
    <mat-label>  % </mat-label>
    <input matInput formControlName="percent">
  </mat-form-field>
  <br>  <br>  <br>
  <button type="submit" class="btn btn-success"  (click)="locationAdd()"  >ADD</button>
  </form>
</div>

