<div style="position: fixed">
<div class="top" style="position: fixed">
  <img src="assets/Capture.png" width="117%" height="150" class="image" >
</div>


<div style="position: fixed; margin-left: 120px; margin-top: 25px" >
  <h3 style="display: inline">2011 MKT 007-</h3><h4 style="display: inline">Capacity building of farmer-based organizations in World Food Program </h4>
</div>

  <div style="position: fixed; margin-left:70%; margin-top: 10px" >
    <button >CANCEL</button>
    <button style="margin-left: 4px">SAVE</button>
    <button style="margin-left: 4px">SAVE & CLOSE</button>
  </div>

<br><br><br>
<div style="position: fixed; margin-left: 150px; margin-top:15px">
<p> Last Modified by Synergy Administration on....... </p>
</div>



</div>
