<div  style="margin: 50px 200px; background-color:rgba(255, 255, 255, 1);padding: 20px; height: 500px; width: 70%; font-family: Roboto; color: rgba(117, 117, 117, 0.866666666666667);" >
  <p>Sectors (in line table)</p>


<form [formGroup]="myForm">
  <table class="table table-responsive table-striped">
    <tr *ngFor="let row of addSector">
      <td>{{row}}</td>
      <td>{{row}}</td>

    </tr>
  </table>

<div style="margin-top: 400px">
  <label>
    <select style="width: 250px; height: 25px" name="selectedCorp" formControlName="sect">
      <option *ngFor="let a of sector">{{a.name}} </option>

    </select >
  </label>

  <label style="margin-left: 50px">
    <input type="text" formControlName="percent">
  </label>

  <button type="button" class="btn btn-success" (click)="addSector()" style="margin-left: 50px" >ADD</button>
</div>
</form>
</div>
